{% extends "wagtailadmin/login.html" %}
{% load i18n wagtailadmin_tags %}

{% block furniture %}
    {% if magic_link_login_only %}
        <main class="content-wrapper" id="main">
            <h1>{% trans "Sign in to Wagtail" %}</h1>

            <div class="messages" role="status">
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <form class="login-form" action="{% url 'request_magic_link' %}" method="post" novalidate>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <div>
                    <label for="id_magic_link_email">{% trans "Email" %}</label>
                    <input type="email" name="email" id="id_magic_link_email" autocomplete="email" autofocus required>
                </div>
                <footer class="form-actions">
                    <button
                        type="submit"
                        class="button button-longrunning"
                        data-controller="w-progress"
                        data-action="w-progress#activate"
                        data-w-progress-active-value="{% trans 'Sending…' %}"
                    >
                        {% icon name="spinner" %}
                        <em data-w-progress-target="label">{% trans "Send sign-in link" %}</em>
                    </button>
                </footer>
            </form>

            <div class="login-logo">
                {% include "wagtailadmin/logo.html" with wordmark="True" %}
            </div>
        </main>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
